<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>CMSC335_Final</title>
	<link rel="stylesheet" href="/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
	<div id = "container">
      <h1>Stock Management</h1>
	  <p>Welcome! Test your market knowledge with the following portfolio builder:</p>
	  <ul>
		<li>To view your current portfolio: <a href = "/list">View</a></li>
		<li>To make changes to your portfolio: <a href = "/action">Action</a></li>
	  </ul>
	</div>
</body>