<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process List</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div id = "container">
      <h1>View your Portfolio</h1>
      <%- table %><br>
      Your total portfolio value is: <%- total %>
	</div>
</body>