<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>View Portfolio</title>
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<div id = "container">
      <h1>View Your Portfolio</h1>
	  <p>Enter your email to view your portfolio:</p>
	  <form action = "/processList" method = "post">
		<fieldset>
			Your Email: <input type = "email" name = "email"><br><br>
            <input type = "submit"><input type = "reset">
		</fieldset>
	  </form>
	</div>
</body>